*~
*.log
*.blg
*.toc
*.bbl
*.swp
*.out
*.aux
*.out
*.dvi
*.soc
*.spl
*.mat
*.gz
*.thm
*.dat
*.npy
*.npz
*.DS_Store
*.loc
*.sh
*.pt
*.txt

.vscode/
__pycache__/
cifar-10-batches-py/
stl10_binary/
image/